@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Inter+Tight:ital,wght@1,200&family=Josefin+Sans:ital,wght@1,300&family=Mulish&family=Poppins:ital,wght@0,200;0,700;1,600;1,800&family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;;
}

.navbar {
  background-color: #fff !important;
}

.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
}

.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active {
  font-weight: bld;
  border-bottom: 1px solid #565387;
}

.navbar a:hover {
  color: #3498db !important;
}

@media (max-width: 991px) {
  .navbar-brand {
    font-size: none;
  }

  .menu_active {
    font-weight: bold;
    border-bottom: none;
  }
}
